<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/nutch115/src/java/org/apache/nutch/plugin/PluginRepository.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.apache.nutch.plugin.PluginRepository"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="nutch115"/>
</launchConfiguration>
